header{
  height: 60px;
  background: #428bca;

}
header > .col-xs-12{
  background: #428bca;
}

header > .col-xs-12 > h1 a{
  display: inline;
  color: #ffffff;
}

header > .col-xs-12 > #search{
  display: inline;
}
.fa-search:hover{
cursor: pointer;
}
header > .col-xs-12 > #search >p{
  text-align: center;
  width: 10%;
  margin-left: auto;
  color: #ffffff;
}
#search_form > .input-group{
  float: left;
}

#search_form > li > .submit > input{
  display: inline;
  margin-left: auto;
}
#search_form > li > i{
  color: #ffffff;
}
.container >.row > article >
 ul > li > h2,a{
  color: #000000;
}

header >.col-xs-12 > .container >
.row > article > #search_form>li{
  list-style: none;

}
 header >
.col-xs-12 > .container >
#search_form>input{
  background: #428bca;
  display: block;
  position: fixed;
  z-index:200;
}
.container-fluid > .container{
  z-index: -1;
}
/*
.container-fluid > .container >
.row > article > .container > .col-xs-12 >
.modal-wrap{
}

*/

.modal-wrap > .thumbnail-list > li{
  float: left;
  display: block;
  overflow: hidden;
}
.thumbnail{
  width:300px;
  margin: 10px 0;
}
.modal-wrap{
  width: 500px;
  overflow: hidden;
}


.modal-active{
  overflow: hidden !important;
}
#modal{
  position: absolute;
  z-index: 2000;
}
.footer{
  background: #428bca;
  height: 60px;
  margin-top: 30px;
}
#answer{
  width: 400px;
}
.paging{
  overflow: hidden;
}
.paging > li{
  float: left;
}
.disabled{
  display: none;
}

.panel{
  margin-top: 30px;
}
#cover{
  background: rgba(0,0,0,0.7);
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
#prev{
	display:inline-block;
	position:absolute;
  width:50px;
	bottom: 100px;
	left:50px;
	text-align:left;
	font-size:50px;
	color:#ffffff;

}
#next{
	display:inline-block;
	position:absolute;
	width:50px;
	margin-top:350px;
	bottom: 100px;
	right:50px;
	text-align:right;
	font-size:50px;
	color:#ffffff;
	overflow:hidden;
	z-index:100;
}
#close{
	display:inline-block;
	position:absolute;
	top:30px;
	right:50px;
	width:80px;
	height:30px;
	font-size:30px;
	right:430;
	top:120;
	color:#ffffff;
}

.modal-inner{
  width:500px;
}
.modal-set > li{
  float: left;
}

.popup-image{
	display:none;
	position:absolute;
	width: 500px;
	z-index:100;

}
