header{
  height: 60px;
  background: #428bca;

}
header > .col-xs-12{
  background: #428bca;
}

header > .col-xs-12 > h1 a{
  display: inline;
  color: #ffffff;
}

 #search > .glyphicon-search{
  display: inline;
  font-size: 30px;
  color: #ffffff;
  position: absolute;
  right: 20px;
  top: 30px;
}
.glyphicon-search:hover{
cursor: pointer;
font-weight: bold;
}
#search_form > .input-group{
  float: left;
}

#search_form > li > .submit > input{
  display: inline;
  margin-left: auto;
}
#search_form > li > .glyphicon-bookmark{
  font-size: 30px;
  color: #ffffff;
}
#search_form > li > .glyphicon-tags{
  font-size: 30px;
  color: #ffffff;
}
.container >.row > article >
 ul > li > h2,a{
  color: #000000;
}
.tags{
  float: left;
  overflow: hidden;
}

header >.col-xs-12 > .container >
.row > article > #search_form>li{
  list-style: none;

}
 header >
.col-xs-12 > .container >
#search_form>input{
  background: #428bca;
  display: block;
  position: fixed;
  z-index:200;
}
.container-fluid > .container{
  z-index: -1;
}
.glyphicon-bookmark ,.glyphicon-tags{
  color: #000000;
}
/*
.container-fluid > .container >
.row > article > .container > .col-xs-12 >
.modal-wrap{
}

*/
.thumbnail{
  margin: 10px 0;
  width: 300px;
}
.modal-wrap{
  overflow: hidden;
}


.modal-active{
  overflow: hidden !important;
}
#modal{
  position: absolute;
  z-index: 2000;
}
.footer{
  background: #428bca;
  height: 60px;
  margin-top: 30px;
}
#answer{
  width: 400px;
}
.paging{
  overflow: hidden;
}
.paging > .current{
  background-color: #428bca;
  color:#ffffff;
}
.paging > li{
  float: left;
}
.disabled{
  display: none;
}

.panel{
  margin-top: 30px;
}
#cover{
  background: rgba(0,0,0,0.7);
  display: none;
  position: fixed;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
#prev{
	display:inline-block;
	position:absolute;
  width:50px;
	bottom: 100px;
	left:50px;
	text-align:left;
	font-size:50px;
	color:#ffffff;

}
#next{
	display:inline-block;
	position:absolute;
	width:50px;
	margin-top:350px;
	bottom: 100px;
	right:50px;
	text-align:right;
	font-size:50px;
	color:#ffffff;
	overflow:hidden;
	z-index:100;
}
#close{
	display:inline-block;
	position:absolute;
	top:30px;
	right:50px;
	width:80px;
	height:30px;
	font-size:30px;
	right:430;
	top:120;
	color:#ffffff;
}

.modal-set > li{
  float: left;
}
.thumbnail-list > li{
  float: left;
  height: 250px;
}
.thumbnail-list > li > a > img{
  width: 300px;
}
.popup-image{
	display:none;
	position:absolute;
	width: 600px;
	z-index:100;

}

.btn-danger{
  margin-left: 20px;
}
