header{
  height: 60px;
  background: #428bca;

}
header > .col-xs-12{
  background: #428bca;
}

header > .col-xs-12 > h1>a{
  display: inline;
  color: #ffffff;
}

header > .col-xs-12 > #search{
  display: inline;
}

header > .col-xs-12 > #search >p{
  text-align: center;
  color: #ffffff;
}

.container >.row > article >
 ul > li > h2,a{
  color: #000000;
}

header >.col-xs-12 > .container >
.row > article > #search_form>li{
  list-style: none;

}
 header >
.col-xs-12 > .container >
#search_form>input{
  background: #428bca;
  display: block;
  position: fixed;
  z-index:200;
}
.container-fluid > .container{
  z-index: -1;
}
/*
.container-fluid > .container >
.row > article > .container > .col-xs-12 >
.modal-wrap{
}

*/


.modal-wrap .image{
  width: 500px;
  height: 400px;
  float: left;
}

.modal-wrap{
  width: 500px;
  margin: 0 auto;
  overflow: hidden;
}

.modal-wrap .modal-set{
}

.modal-wrap > .modal-set > .image > a > .popup-image{
  width: 500px;
}

#cover{
  background: rgba(0,0,0,0.7);
  display: none;
  left: 0;
  top: 0;
  z-index: 10;
}
